

html{
  border: 0;
  margin:0;
  padding: 0;
}

body {
    background-image: url("background2.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

.form-control {
    max-height: 200px; /* Aumenta o quadro do parágrafo */
    overflow-y: auto; /* Adiciona barra de rolagem quando o conteúdo é maior que o quadro */
}

p {
    line-height: 3.0; /* Aumenta o tamanho vertical da tag p */
}

textarea {
  height: 150px;
}
